body {
    margin-top: 70px;
    font-family: Arial, sans-serif;
    background: #FFF7C8;
    color: #540B0E;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: bold;
}

nav {
    background: #F4D35E;
    color: white;
    padding: 15px 30px;
}

nav a {
    color: #6E5F2B;
}

nav a:hover {
    color: #D63B3D;
}

button {
    padding: 8px;
    border-radius: 6px;
    background-color: #540B0E;
    color: #FFF7C8;
    border: none;
}

footer {
    text-align: center;
}

.search-box input {
    width: 800px;
    padding: 8px 15px;
    border-radius: 60px;
    border: none;
}

form button {
    border-radius: 30px;
    padding: 8px;
    background-color: #540B0E;
    color: #FFF7C8;
    border: none;
}
