#containerInicial {
    text-align: center;
}
.cardImagem {
    display:flex;
}
.card {
    border-radius: 30px;
}
#containerCards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: center;
}
.cards img {
    height: 300px;
}
#cardUploadImagens {
    display: flex;
    justify-content: center;
    gap: 20px;
}
#card02, #card03 {
    border: 0px;
}