body {
    background-color: #fdf5c9; /* Fundo bege claro */
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: #5d1f14; /* Marrom escuro */
    font-size: 48px;
    margin-bottom: 25px;
}

.search-container {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    border: 1px solid #7a7a7a;
    border-radius: 4px;
}

.input-large {
    width: 200px;
}

.btn-brown {
    background-color: #4a1a0f;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.cat-table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

.cat-table td {
    padding: 10px 0;
    color: #333;
    font-size: 18px;
}