h3 {
    font-weight: 600;
    letter-spacing: -1px;
}

#uploads {
    background-color: #F4D35E;
}

label {
    color: #540B0E;
    font-weight: 600;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;

    background-color: #540B0E;
    color: #F4D35E;
    border: none;
    border-radius: 5px;
    font-weight: bold;

    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #9E2A2B;
    cursor: pointer;
}