body {
    background-color: #fff7c8;
    margin: 10px;
    color: #540B0E;
}
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #F4D35E;
    border-radius: 10px;
}
nav {
    gap: 50px;
    justify-content: space-between;
    background-color: #F4D35E;
}
h1 {
    color: #540B0E;
    font-weight: bold;
    text-align: center;
}   
a {
    text-decoration: none;
    color: #540B0E;
}
a:hover {
    color: #9E2A2B;
}
button {
    color:#F4D35E;
    border-radius: 5px;
    background-color: #540B0E;
    padding-inline: 10px;
    border-style: none;
}