.container {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 15px;
}

.card {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    display: block;
}

.card p {
    margin: 10px;
    font-weight: bold;
}

#containerInicial {
    text-align: center;
    margin-top: 40px;
}

.headerCard {
    display: flex;
    flex-direction: row;
}

.bodyCard {
    display: flex;
    flex-direction: row;
}

.cardInicial {
    width: auto;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
}

.cardsIniciais {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
