body {
    padding-top: 100px;
    background-color: #fff7c8;
    color: #540B0E;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
    font-weight: bold;
}

.formStyle {
    background-color: #F4D35E;
    padding: 25px 30px;
    border-radius: 10px;
    width: 300px;
}

/* Labels */
label {
    font-weight: 600;
}


.inputForm {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #540B0E;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #540B0E;
    color: #F4D35E;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #9E2A2B;
    cursor: pointer;
}

/* Texto por baixo do formuláro */
#formTexto {
    margin-top: 15px;
}

.linkForm {
    color: #540B0E;
    text-decoration: none;
    font-weight: 600;
}

.linkForm:hover {
    color: #9E2A2B;
}

.interesses {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 30px;
}

.interesse-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.1rem;
}
