<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/stylesAdmin.css">
</head>
<body>
    
    <div class="admin-container">
        <h1>Painel do Administrador</h1>
        
        <div class="card">
            <h2>Utilizadores</h2>
            <ul class="user-list">
                <li class="user-item">
                    <span class="user-info">João - user@example.com</span>
                    <div>
                        <button class="btn btn-block">Bloquear</button>
                        <button class="btn btn-remove">Remover</button>
                    </div>
                </li>
                <li class="user-item">
                    <span class="user-info">Maria - maria@example.com</span>
                    <div>
                        <button class="btn btn-block">Bloquear</button>
                        <button class="btn btn-remove">Remover</button>
                    </div>
                </li>
            </ul>
  </div>
  
  <div class="card">
    <h2>Criar Categoria</h2>
    <div class="form-group">
        <input type="text" placeholder="Nome da categoria">
        <button class="btn btn-add">Adicionar</button>
    </div>
</div>
</div>


    
    
</body>
</html>