<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>

    <h1>Painel do Administrador</h1>

    <section>
        <h2>Utilizadores</h2>

        <p>João - user@example.com</p>
        <button>Bloquear</button>
        <button>Remover</button>
    </section>

    <section>
        <h2>Criar Categoria</h2>

        <form method="POST">
            <input type="text" name="categoria">
            <button type="submit">Adicionar</button>
        </form>
    </section>

</body>
</html>
