<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Início</a> |
        <a href="{{ url_for('dashboard') }}">Dashboard</a> |
        <a href="{{ url_for('categorias') }}">Categorias</a> |
        <a href="{{ url_for('login') }}">Login</a>
    </nav>
    
    <h1>Categorias</h1>

    <ul>
        <li>Natureza</li>
        <li>Animais</li>
    </ul>

</body>
</html>
