<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/styleIndex.css">
    <title>Image Manager</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/templates/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/dashboard.html">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/categorias.html">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/templates/login.html">Login</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>

    <header>
        <br>
        <h1>Image Manager Web</h1>
        <p>Plataforma de gestão e partilha de imagens</p>
    </header>

    <main>
        <div id="containerCards">
            <div class="card" style="width: 28rem;">
                <img src="/static/imagens_upload/element5-digital-ceWgSMd8rvQ-unsplash.jpg" class="card-img-top" alt="imagemBeleza01">
                <div class="card-body">
                    <a href="#" class="card-link">Beleza</a>
                    <a href="#" class="card-link"><img src="/static/imagens_upload/icons/estrela.svg"></a>
                    <a href="#" class="card-link"><img src="/static/imagens_upload/icons/deslike.svg"></a>
                </div>
            </div>
            <div class="card" style="width: 28rem;">
                <img src="/static/imagens_upload/land-o-lakes-inc-1w3tO5F8HYY-unsplash.jpg" class="card-img-top" alt="imagemBeleza01">
                <div class="card-body">
                    <a href="#" class="card-link">Turismo</a>
                    <a href="#" class="card-link"><img src="/static/imagens_upload/icons/estrela.svg"></a>
                    <a href="#" class="card-link"><img src="/static/imagens_upload/icons/deslike.svg"></a>
                </div>
            </div>
            <div class="card" style="width: 28rem;">
                <img src="/static/imagens_upload/land-o-lakes-inc-lAB4lRUKc0Q-unsplash.jpg" class="card-img-top" alt="imagemBeleza01">
                <div class="card-body">
                    <a href="#" class="card-link">Desporto</a>
                    <a href="#" class="card-link"><img src="/static/imagens_upload/icons/estrela.svg"></a>
                    <a href="#" class="card-link"><img src="/static/imagens_upload/icons/deslike.svg"></a>
                </div>
            </div>
        </div>


    </main>

    <footer>
        <p>Projeto de grupo - AED</p>
    </footer>

</body>
</html>