<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/styleLogin.css">
</head>
<body>

    <h1>Login</h1>

    <form method="POST" action="{{ url_for('login') }}">
        <label>Email:</label><br>
        <input type="email" name="email"><br><br>

        <label>Senha:</label><br>
        <input type="password" name="senha"><br><br>

        <button type="submit">Entrar</button>
    </form>

    <p>
        Ainda não tem conta?
        <a href="register.html">Registar</a>
    </p>

</body>
</html>
